.gr__localhost {
  background-color: #4248f4;
}

.App {
  text-align: center;
  background-color: #4248f4;
}

.App-candle {
  height: 40vmin;
}

.App-header {
  background-color: #4248f4;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Result {
  block-size: fit-content;
  font-size: 70px;
  color: White;
  background-color: #4248f4;
  position: relative;
  bottom: 76px;
  right: -100x;
}

.Button {
  font-size: 16px;
  color: #ff0000;
  background-color: #4248f4;
}

.Text {
  font-size: 26px;
  position: relative;
  bottom: 93px;
  left: -206px;
  z-index: 1;
  color: gold;
}

.Fireimage {
  display: flex;
  height: 26vmin;
  position: relative;
  top: -850px;
  left: 865px;
}

.Fireimage:hover {
  opacity: 0;
}